* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4a69a7;
}

.form_Container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.form_Container form {
  min-width: 500px;
  border: 1px solid #9ca3af;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgb(88, 117, 155);

}

.form_Container form input{
  box-shadow: 6px 6px 3px black;
  transition: all linear .5s;
}

.form_Container form input:hover {
 transform: scale(1.04);
 background-color: orange;
}